.register-option,
.register-option * {
  box-sizing: border-box;
}
.register-option {
  background: #f0f2f8;
  height: 885px;
  position: relative;
  overflow: hidden;
}
.form-rectangle {
  background: #ffffff;
  border-radius: 18px;
  padding: 30px 48px 30px 48px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 440px;
  height: 709px;
  position: absolute;
  left: 500px;
  top: 65px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.08);
}
.onboard-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-spacing-8px, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 343px;
  height: 66.38px;
  position: relative;
}
.join-us {
  color: var(--primary, #0077b6);
  text-align: left;
  font-family: var(--manrope-bold-28-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--manrope-bold-28-font-size, 28px);
  line-height: var(--manrope-bold-28-line-height, 40px);
  letter-spacing: var(--manrope-bold-28-letter-spacing, 0.2px);
  font-weight: var(--manrope-bold-28-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.fill-this-form-to-create-an-account {
  color: var(--typography-700, #3f3f46);
  text-align: left;
  font-family: var(
    --mobile-medium-size-14-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-14-font-size, 14px);
  line-height: var(--mobile-medium-size-14-line-height, 24px);
  letter-spacing: var(--mobile-medium-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-14-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-spacing-8px, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 343px;
  height: 73.76px;
  position: relative;
}
.text {
  color: var(--typography-900, #18181b);
  text-align: left;
  font-family: var(
    --mobile-medium-size-14-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-14-font-size, 14px);
  line-height: var(--mobile-medium-size-14-line-height, 24px);
  letter-spacing: var(--mobile-medium-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-14-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.input-form {
  background: var(--background-white, #ffffff);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--gray-300, #d2d6db);
  border-width: 1px;
  padding: var(--spacing-spacing-12px, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-spacing-12px, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: var(--typography-500, #71717a);
  text-align: left;
  font-family: var(
    --mobile-medium-size-14-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-14-font-size, 14px);
  line-height: var(--mobile-medium-size-14-line-height, 24px);
  letter-spacing: var(--mobile-medium-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-14-font-weight, 500);
  position: relative;
  flex: 1;
}
.password {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 73.76px;
  position: relative;
}
.input-field2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-spacing-8px, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 343px;
  position: relative;
}
.button-group {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 251.7px;
  position: relative;
}
.by-clicking-register-you-agree-to-find-my-career-terms-and-conditions {
  color: var(--typography-700, #3f3f46);
  text-align: center;
  font-family: var(--mobile-medium-size-14-font-family, "-", sans-serif);
  font-size: var(--mobile-medium-size-14-font-size, 14px);
  line-height: var(--mobile-medium-size-14-line-height, 24px);
  letter-spacing: var(--mobile-medium-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-14-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.by-clicking-register-you-agree-to-find-my-career-terms-and-conditions-span {
  color: var(--typography-700, #3f3f46);
  font-family: var(
    --mobile-medium-size-14-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-14-font-size, 14px);
  line-height: var(--mobile-medium-size-14-line-height, 24px);
  letter-spacing: var(--mobile-medium-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-14-font-weight, 500);
}
.by-clicking-register-you-agree-to-find-my-career-terms-and-conditions-span2 {
  color: var(--typography-700, #3f3f46);
  font-family: var(
    --mobile-medium-size-14-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-14-font-size, 14px);
  line-height: var(--mobile-medium-size-14-line-height, 24px);
  letter-spacing: var(--mobile-medium-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-14-font-weight, 500);
  text-decoration: underline;
}
.button {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-100, #f3f4f6);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 343px;
  position: relative;
  box-shadow: var(
    --shadow-light-xs-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
  overflow: hidden;
}
.button2 {
  color: var(--typography-300, #d4d4d8);
  text-align: left;
  font-family: var(
    --mobile-bold-size-14-font-family,
    "Manrope-Bold",
    sans-serif
  );
  font-size: var(--mobile-bold-size-14-font-size, 14px);
  line-height: var(--mobile-bold-size-14-line-height, 24px);
  letter-spacing: var(--mobile-bold-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-bold-size-14-font-weight, 700);
  position: relative;
}
.line {
  flex-shrink: 0;
  width: 343px;
  height: 17px;
  position: static;
}
.line-1 {
  margin-top: -0.87px;
  border-style: solid;
  border-color: var(--000000, #000000);
  border-width: 0.87px 0 0 0;
  opacity: 0.3;
  width: 156.75px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 149.86px;
}
.line-2 {
  opacity: 0.3;
  width: 156.75px;
  height: 0px;
  position: absolute;
  left: 186.25px;
  top: 149.98px;
  overflow: visible;
}
.frame-60352 {
  background: rgba(0, 152, 255, 0);
  padding: 0px 8.72px 0px 8.72px;
  display: flex;
  flex-direction: column;
  gap: 8.72px;
  align-items: center;
  justify-content: center;
  width: 31.71px;
  height: 17px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 138px;
}
.or {
  color: var(--000000, #000000);
  text-align: center;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 13.081396102905273px;
  font-weight: 400;
  opacity: 0.5;
  position: relative;
}
.button-group2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-spacing-16px, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 343px;
  position: relative;
}
.button-social {
  background: var(--base-white, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-300, #d2d6db);
  border-width: 1px;
  padding: var(--spacing-spacing-12px, 12px) var(--spacing-spacing-24px, 24px)
    var(--spacing-spacing-12px, 12px) var(--spacing-spacing-24px, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-spacing-12px, 12px);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-light-xs-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.icon-l {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.super-g {
  width: 65.33%;
  height: 66.67%;
  position: absolute;
  right: 17.33%;
  left: 17.33%;
  bottom: 16.67%;
  top: 16.67%;
  overflow: visible;
}
.sign-in-with-google {
  color: #000000;
  text-align: left;
  font-family: var(
    --mobile-bold-size-14-font-family,
    "Manrope-Bold",
    sans-serif
  );
  font-size: var(--mobile-bold-size-14-font-size, 14px);
  line-height: var(--mobile-bold-size-14-line-height, 24px);
  letter-spacing: var(--mobile-bold-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-bold-size-14-font-weight, 700);
  position: relative;
}
.button-social2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d2d6db;
  border-width: 1px;
  padding: var(--spacing-spacing-12px, 12px) var(--spacing-spacing-24px, 24px)
    var(--spacing-spacing-12px, 12px) var(--spacing-spacing-24px, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-spacing-12px, 12px);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-light-xs-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.icon-l2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.sign-in-with-apple {
  color: #000000;
  text-align: left;
  font-family: var(
    --mobile-bold-size-14-font-family,
    "Manrope-Bold",
    sans-serif
  );
  font-size: var(--mobile-bold-size-14-font-size, 14px);
  line-height: var(--mobile-bold-size-14-line-height, 24px);
  letter-spacing: var(--mobile-bold-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-bold-size-14-font-weight, 700);
  position: relative;
}
.already-on-find-my-career-sign-in {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: relative;
  width: 343px;
  height: 18.44px;
}
.already-on-find-my-career-sign-in-span {
  color: var(--typography-700, #3f3f46);
  font-family: var(
    --mobile-medium-size-12-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-12-font-size, 12px);
  line-height: var(--mobile-medium-size-12-line-height, 20px);
  letter-spacing: var(--mobile-medium-size-12-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-12-font-weight, 500);
}
.already-on-find-my-career-sign-in-span2 {
  color: var(--primary, #0077b6);
  font-family: var(
    --mobile-bold-size-12-font-family,
    "Manrope-Bold",
    sans-serif
  );
  font-size: var(--mobile-bold-size-12-font-size, 12px);
  line-height: var(--mobile-bold-size-12-line-height, 20px);
  letter-spacing: var(--mobile-bold-size-12-letter-spacing, 0.2px);
  font-weight: var(--mobile-bold-size-12-font-weight, 700);
}
.vectors {
  height: auto;
  position: absolute;
  left: 0px;
  top: 774px;
  overflow: visible;
}
.logoo-2 {
  width: 10.21%;
  height: 148.22px;
  position: absolute;
  right: -0.14%;
  left: 89.93%;
  top: 1px;
  object-fit: cover;
  aspect-ratio: 147/148.22;
}
.sign-in-option,
.sign-in-option * {
  box-sizing: border-box;
}
.sign-in-option {
  background: #f0f2f8;
  height: 893px;
  position: relative;
  overflow-y: auto;
}
.form-rectangle {
  background: #ffffff;
  border-radius: 18px;
  padding: 40px 48px 40px 48px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 440px;
  height: 709px;
  position: absolute;
  left: 93px;
  top: 57px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.08);
}
.onboard-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-spacing-8px, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 343px;
  height: 66.38px;
  position: relative;
}
.welcome-back {
  color: var(--primary, #0077b6);
  text-align: left;
  font-family: var(--manrope-bold-28-font-family, "Manrope-Bold", sans-serif);
  font-size: var(--manrope-bold-28-font-size, 28px);
  line-height: var(--manrope-bold-28-line-height, 40px);
  letter-spacing: var(--manrope-bold-28-letter-spacing, 0.2px);
  font-weight: var(--manrope-bold-28-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.enter-this-form-to-login-this-app {
  color: var(--typography-700, #3f3f46);
  text-align: left;
  font-family: var(
    --mobile-medium-size-14-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-14-font-size, 14px);
  line-height: var(--mobile-medium-size-14-line-height, 24px);
  letter-spacing: var(--mobile-medium-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-14-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-spacing-8px, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 343px;
  height: 73.76px;
  position: relative;
}
.text {
  color: var(--typography-900, #18181b);
  text-align: left;
  font-family: var(
    --mobile-medium-size-14-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-14-font-size, 14px);
  line-height: var(--mobile-medium-size-14-line-height, 24px);
  letter-spacing: var(--mobile-medium-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-14-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.input-form {
  background: var(--background-white, #ffffff);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--gray-300, #d2d6db);
  border-width: 1px;
  padding: var(--spacing-spacing-12px, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-spacing-12px, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: var(--typography-500, #71717a);
  text-align: left;
  font-family: var(
    --mobile-medium-size-14-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-14-font-size, 14px);
  line-height: var(--mobile-medium-size-14-line-height, 24px);
  letter-spacing: var(--mobile-medium-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-14-font-weight, 500);
  position: relative;
  flex: 1;
}
.password {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 73.76px;
  position: relative;
}
.input-field2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-spacing-8px, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 343px;
  position: relative;
}
.button-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 251.7px;
  position: relative;
}
.button {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-100, #f3f4f6);
  border-width: 1px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 343px;
  position: relative;
  box-shadow: var(
    --shadow-light-xs-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
  overflow: hidden;
}
.button2 {
  color: var(--typography-300, #d4d4d8);
  text-align: left;
  font-family: var(
    --mobile-bold-size-14-font-family,
    "Manrope-Bold",
    sans-serif
  );
  font-size: var(--mobile-bold-size-14-font-size, 14px);
  line-height: var(--mobile-bold-size-14-line-height, 24px);
  letter-spacing: var(--mobile-bold-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-bold-size-14-font-weight, 700);
  position: relative;
}
.button3 {
  background: #ffffff;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 343px;
  position: relative;
  overflow: hidden;
}
.button4 {
  color: #18181b;
  text-align: left;
  font-family: var(
    --mobile-bold-size-14-font-family,
    "Manrope-Bold",
    sans-serif
  );
  font-size: var(--mobile-bold-size-14-font-size, 14px);
  line-height: var(--mobile-bold-size-14-line-height, 24px);
  letter-spacing: var(--mobile-bold-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-bold-size-14-font-weight, 700);
  position: relative;
}
.line {
  flex-shrink: 0;
  width: 343px;
  height: 17px;
  position: static;
}
.line-1 {
  margin-top: -0.87px;
  border-style: solid;
  border-color: var(--000000, #000000);
  border-width: 0.87px 0 0 0;
  opacity: 0.3;
  width: 156.75px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 139.86px;
}
.line-2 {
  opacity: 0.3;
  width: 156.75px;
  height: 0px;
  position: absolute;
  left: 186.25px;
  top: 139.98px;
  overflow: visible;
}
.frame-60352 {
  background: rgba(0, 152, 255, 0);
  padding: 0px 8.72px 0px 8.72px;
  display: flex;
  flex-direction: column;
  gap: 8.72px;
  align-items: center;
  justify-content: center;
  width: 31.71px;
  height: 17px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 128px;
}
.or {
  color: var(--000000, #000000);
  text-align: center;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 13.081396102905273px;
  font-weight: 400;
  opacity: 0.5;
  position: relative;
}
.button-group2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-spacing-16px, 16px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 343px;
  position: relative;
}
.button-social {
  background: var(--base-white, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-300, #d2d6db);
  border-width: 1px;
  padding: var(--spacing-spacing-12px, 12px) var(--spacing-spacing-24px, 24px)
    var(--spacing-spacing-12px, 12px) var(--spacing-spacing-24px, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-spacing-12px, 12px);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-light-xs-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.icon-l {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.super-g {
  width: 65.33%;
  height: 66.67%;
  position: absolute;
  right: 17.33%;
  left: 17.33%;
  bottom: 16.67%;
  top: 16.67%;
  overflow: visible;
}
.sign-in-with-google {
  color: #000000;
  text-align: left;
  font-family: var(
    --mobile-bold-size-14-font-family,
    "Manrope-Bold",
    sans-serif
  );
  font-size: var(--mobile-bold-size-14-font-size, 14px);
  line-height: var(--mobile-bold-size-14-line-height, 24px);
  letter-spacing: var(--mobile-bold-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-bold-size-14-font-weight, 700);
  position: relative;
}
.button-social2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d2d6db;
  border-width: 1px;
  padding: var(--spacing-spacing-12px, 12px) var(--spacing-spacing-24px, 24px)
    var(--spacing-spacing-12px, 12px) var(--spacing-spacing-24px, 24px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-spacing-12px, 12px);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-light-xs-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.icon-l2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.sign-in-with-apple {
  color: #000000;
  text-align: left;
  font-family: var(
    --mobile-bold-size-14-font-family,
    "Manrope-Bold",
    sans-serif
  );
  font-size: var(--mobile-bold-size-14-font-size, 14px);
  line-height: var(--mobile-bold-size-14-line-height, 24px);
  letter-spacing: var(--mobile-bold-size-14-letter-spacing, 0.2px);
  font-weight: var(--mobile-bold-size-14-font-weight, 700);
  position: relative;
}
.don-t-have-an-account-register {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: relative;
  width: 343px;
  height: 18.44px;
}
.don-t-have-an-account-register-span {
  color: var(--typography-700, #3f3f46);
  font-family: var(
    --mobile-medium-size-12-font-family,
    "Manrope-Medium",
    sans-serif
  );
  font-size: var(--mobile-medium-size-12-font-size, 12px);
  line-height: var(--mobile-medium-size-12-line-height, 20px);
  letter-spacing: var(--mobile-medium-size-12-letter-spacing, 0.2px);
  font-weight: var(--mobile-medium-size-12-font-weight, 500);
}
.don-t-have-an-account-register-span2 {
  color: var(--primary, #0077b6);
  font-family: var(
    --mobile-bold-size-12-font-family,
    "Manrope-Bold",
    sans-serif
  );
  font-size: var(--mobile-bold-size-12-font-size, 12px);
  line-height: var(--mobile-bold-size-12-line-height, 20px);
  letter-spacing: var(--mobile-bold-size-12-letter-spacing, 0.2px);
  font-weight: var(--mobile-bold-size-12-font-weight, 700);
}
.vectors {
  height: auto;
  position: absolute;
  left: 0px;
  top: 782px;
  overflow: visible;
}
.welcome-to-find-my-career {
  text-align: left;
  font-family: "Manrope-Bold", sans-serif;
  font-size: 48px;
  line-height: var(--display-medium-line-height, 52px);
  letter-spacing: 5px;
  font-weight: 700;
  position: absolute;
  left: 604px;
  top: 164px;
  width: 467px;
  height: 117px;
}
.welcome-to-find-my-career-span {
  color: var(--typography-900, #18181b);
  font-family: "Manrope-Bold", sans-serif;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 5px;
  font-weight: 700;
}
.welcome-to-find-my-career-span2 {
  color: var(--accent, #f4a261);
  font-family: "Manrope-Bold", sans-serif;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 5px;
  font-weight: 700;
}
.logoo-1 {
  width: 10.21%;
  height: 148.22px;
  position: absolute;
  right: 0%;
  left: 89.79%;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 147/148.22;
}
